# MongoDB Connection String
# Obtenha em: https://www.mongodb.com/cloud/atlas
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/filazero?appName=Cluster0

# Porta do servidor backend
PORT=3001

# URL do frontend para CORS
FRONTEND_URL=http://localhost:5173

# (Opcional) Chave JWT para autenticação
JWT_SECRET=sua_chave_secreta_aqui

# (Opcional) Ambiente
NODE_ENV=development
